
<div class="purchase_section">
  <div class="products">

  <ul>
    <% @products.each do |product| %>
      <li><%= product.name %></li>
    <% end %>
  </ul>

  <div class="message">Given a POST request to:  PurchasesController#create
  with params { "products" => [  { "id" => 46, "quantity" => 3  }, {  "id" => 70, "quantity" => 2 } ] }</div>

  <button class="purchase_btn">
    Purchase!
  </button>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".purchase_btn").on("click", function(event){
      event.preventDefault();

      //var data = { products: [  { id: 46, quantity: 3  }, {  id: 70, quantity: 2 } ] };
      var data = "products%5B%5D%5Bid%5D=46&products%5B%5D%5Bquantity%5D=3&products%5B%5D%5Bid%5D=70&products%5B%5D%5Bquantity%5D=2"
      console.log(data);

      var button_text_orig = $(".purchase_btn").text();
      $(".message").removeClass("success, error")
      $(".purchase_btn").text("processing...");
      $(".message").text("");

      var jqxhr = $.post( "/step_two/purchases.json", data, function(response) {
        //alert( "success" );
      })
      .done(function(responseJSON) {
        var message = JSON.stringify(responseJSON)
        //$(".message").addClass("success")
        $(".purchase_section").text(message);
        
        //alert( "second success" );
      })
      .fail(function(response) {
        console.log(response);
        var message = response.responseJSON["message"]
        $(".message").addClass("error")
        $(".message").text(message);

        //alert( "error" );
      })
      .always(function() {
        $(".purchase_btn").text(button_text_orig);

        //alert( "finished" );
      });
    });
  });
</script>
